.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  /* max-width: 640px; */
  margin: 0 auto;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  /* color: #333; */
  line-height: 1.5em;
  background-color: #D4D4D4;
}

#navbar a {
  color: black;
}

#content {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

.vertical.ui.buttons > a {
  margin-top: 10px;
}