/* FONTS */
@font-face {
    font-family: 'franklin';
    src: url('../fonts/franklin/franklin-webfont.woff2') format('woff2'),
         url('../fonts/franklin/franklin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'averia';
    src: url('../fonts/averia/averialibre-bold-webfont.woff2') format('woff2'),
         url('../fonts/averia/averialibre-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'averia';
    src: url('../fonts/averia/averialibre-italic-webfont.woff2') format('woff2'),
         url('../fonts/averia/averialibre-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'averia';
    src: url('../fonts/averia/averialibre-regular-webfont.woff2') format('woff2'),
         url('../fonts/averia/averialibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL STYLES */
html {
  font-size: 16px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'franklin';
  font-weight: normal;
  line-height: 1.25em;
}

ul {
  padding-inline-start: 0;
}

#app {
  /* height: 100vh;
  height: calc(var(--vh, 1vh) * 100); */
}

.body-container {
  font-family: 'averia', Verdana, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  background: #ebd5b3;
}

a {
 text-decoration: none;
 color: #FFFFFF
}
